/*基本样式*/
body{
	font-family: "微软雅黑";
}

/*导航*/
nav div.collapse ul.navbar-right{
	line-height: 50px;
}

/*内容*/
.progress{
	margin-bottom: 15px;
}

/*头像*/
.wh64{
	width: 64px;
	height: 64px;
	border-radius: 50%;
}
/*按钮*/
.margin-top{
	margin-top: 15px;
}
/*page-header*/
.page-header{
	margin-top: 0;
}
.page-header h1{
	margin: 0;
	font-size: 16px;
}
/*脚注*/
footer{
	padding: 25px;
	text-align: center;
}

/*user-search的样式*/
.user-search-form{
	padding: 10px;
	border: 1px solid #DDDDDD;
	border-top: none;
}
/*tag样式*/
.tag-list{
	padding: 15px;
}
.tag-list .alert{
	margin: 0 15px 15px 0px;
}
